<h2>{{ result.HEADING }}</h2>
<div class="grid">
    <div class="col col_3">
        <p class="title">
            <span>1</span>{{ result.STEPS[0] }}
        </p>
        <div class="block">
            <a class="btn--blue" href="javascript:void(0)" style="cursor: default">Зарегистрироваться</a>
        </div>
    </div>
    <div class="col col_3">
        <p class="title">
            <span>2</span>{{ result.STEPS[1] }}
        </p>
        <div class="block">
            <img src="{{ asset('images/pic_2.png') }}" alt="">
        </div>
    </div>
    <div class="col col_3">
        <p class="title">
            <span>3</span>{{ result.STEPS[2] }}
        </p>
        <div class="block">
            <img src="{{ asset('images/pic_3.png') }}" alt="">
        </div>
    </div>
</div>