<section class="news" id="news">
    <span class="anchor" id="five"></span>
    <div class="wrap">
        <h3>События</h3>
        <div class="wrap_news">
            <div class="left">
                <div class="grid">
                    {% for item in result.FEATURED %}
                        <div id="{{ item.BX_ID }}" class="col_3 news_item{{ item.CLASS ? ' ' ~ item.CLASS }}" data-item-id="{{ item.ID }}">
                            <div class="img {{ item.PREVIEW_TYPE }}">
                                {% set img = item.PREVIEW_PICTURE %}
                                <img src="{{ img.src }}" title="{{ img.TITLE }}" alt="{{ img.ALT }}">
                                <div class="date">
                                    <span>{{ item.DISPLAY_ACTIVE_FROM }}</span>
                                </div>
                            </div>
                            <div class="title">{{ item.NAME }}</div>
                            <div class="line"></div>
                            <div class="text">{{ item.PREVIEW_TEXT }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="right">
                <div class="wrap_news_slider">
                    <span class="prev"></span>
                    <span class="next"></span>
                    <div class="news_slider">
                        {% for item in result.REST %}
                            <div id="{{ item.BX_ID }}" class="news_item{{ item.CLASS ? ' ' ~ item.CLASS }}" data-item-id="{{ item.ID }}">
                                <div class="img foto">
                                    {# TODO isn't it always hidden anyway? #}
                                    {% set img = item.PREVIEW_PICTURE %}
                                    <img src="{{ img.src }}" title="{{ img.TITLE }}" alt="{{ img.ALT }}">
                                    {# TODO isn't it always hidden anyway? #}
                                    <div class="date">
                                        <span>{{ item.DISPLAY_ACTIVE_FROM }}</span>
                                    </div>
                                </div>
                                <div class="title">{{ item.NAME }}</div>
                                <div class="line"></div>
                                <div class="text">{{ item.PREVIEW_TEXT }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>