<div class="wrap_news_content">
    <div class="info">
        <p class="date">{{ result.DISPLAY_ACTIVE_FROM }}</p>
        <p class="title">{{ result.NAME }}</p>
        <p class="line"></p>
        <div class="text">
            {{ result.DETAIL_TEXT }}
        </div>
    </div>
    <div class="pictures">
        <div class="left_video">
            {% if result.VIDEO %}
                <iframe src="https://www.youtube.com/embed/{{ result.VIDEO.YOUTUBE_ID }}" frameborder="0" allowfullscreen></iframe>
            {% else %}
                <a class="img fancybox" rel="gallery" href="{{ result.FEATURED_IMAGE.SRC }}"
                   style="background-image: url('{{ result.FEATURED_IMAGE.SRC }}');"></a>
            {% endif %}
        </div>
        <div class="left_img">
            {% for image in result.IMAGES %}
                <a class="col fancybox" rel="gallery" href="{{ image.SRC }}">
                    <img src="{{ image.src }}" alt="" />
                </a>
            {% endfor %}
        </div>
    </div>
</div>
