<div class="admin-table">
    <div class="top">
        <h3 class="heading">{{ table.NAME }}</h3>
        <div class="buttons">
            <a class="btn" href="{{ path('admin') }}">Назад</a>
            <a href="{{ download_link }}" target="_blank" download class="btn--blue">Скачать CSV файл</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="preview">
            <thead>
            <tr>
                {% for col in table.HEADER %}
                    <th>{{ col|escape }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table.ROWS %}
                <tr>
                    {% for col in row %}
                        <td>{{ col|escape }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>