<section class="wrap_slider">
    <div class="wrap_arrows">
        <span class="arrows prev"></span>
        <span class="arrows next"></span>
    </div>
    <div class="slider">
        <div class="slide slide--inner" style="background: url('{{ asset_uri('images/slider2.png') }}')no-repeat center center">
            <div class="block">
                <h1>Четыре сезона</h1>
                <span class="line"></span>
                <h2>Фрукты и овощи от производителя<br>по оптовым ценам</h2>
            </div>
        </div>
        <div class="slide slide--inner" style="background: url('{{ asset_uri('images/slider2.png') }}')no-repeat center center">
            <div class="block">
                <h1>Три сезона</h1>
                <span class="line"></span>
                <h2>Фрукты и овощи от производителя<br>по оптовым ценам</h2>
            </div>
        </div>
    </div>
    <div class="dots"></div>
</section>
<section class="price_list">
    <span class="anchor" id="two"></span>
    <div class="wrap">
        <div class="block">
            <h3>что покупают у нас</h3>
            <p class="sub_title">орц "Четыре сезона" обладает высокотехнологичным оборудованием, что позволяет сохранять Ваши фрукты и овощи всегда свежими. </p>
            <div class="grid">
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2016.png') }}" alt="">
                    <p>Экзотика</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2017.png') }}" alt="">
                    <p>Фрукты</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2018.png') }}" alt="">
                    <p>Овощи</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2019.png') }}" alt="">
                    <p>Зелень</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2020.png') }}" alt="">
                    <p>Ягоды</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2021.png') }}" alt="">
                    <p>Грибы</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2022.png') }}" alt="">
                    <p>Бахчевые</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2023.png') }}" alt="">
                    <p>Орехи</p>
                </div>
                <div class="item col_5">
                    <img src="{{ asset_uri('images/Group%2024.png') }}" alt="">
                    <p>Сухофрукты</p>
                </div>
                <a href="#" class="item item--download col_5">
                    <img src="{{ asset_uri('images/download.jpg') }}" alt="">
                    <p>Скачать
                        <br>прайс лист</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="why_buy_from_us">
    <span class="anchor" id="three"></span>
    <div class="wrap">
        <h3>Почему покупают у нас</h3>
        <div class="grid">
            <div class="metro col_4">
                <div class="front">
                    <div class="box1">
                        <div class="ico">
                            <img src="{{ asset_uri('images/price.png') }}" alt="">
                        </div>
                        <strong>Цены<br>и ассортимент</strong>
                        <span class="line"></span>
                        <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                        <span class="metro_btn">Подробнее</span>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <strong>Цены и ассортимент</strong>
                        <p>Российская специфика, как следует из вышесказанного, все еще интересна для многих.
                            <br>Баинг и селлинг концентрирует потребительский формирование имиджа.</p>
                        <span class="metro_btn">Назад</span>
                    </div>
                </div>
            </div>
            <div class="metro col_4">
                <div class="front">
                    <div class="box1">
                        <div class="ico">
                            <img src="{{ asset_uri('images/quality.png') }}" alt="">
                        </div>
                        <strong>Качество<br>продукции</strong>
                        <span class="line"></span>
                        <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                        <span class="metro_btn">Подробнее</span>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <strong>Цены и ассортимент</strong>
                        <p>Российская специфика, как следует из вышесказанного, все еще интересна для многих.
                            <br>Баинг и селлинг концентрирует потребительский формирование имиджа.</p>
                        <span class="metro_btn">Назад</span>
                    </div>
                </div>
            </div>
            <div class="metro col_4">
                <div class="front">
                    <div class="box1">
                        <div class="ico">
                            <img src="{{ asset_uri('images/service.png') }}" alt="">
                        </div>
                        <strong>Удобный<br>сервис</strong>
                        <span class="line"></span>
                        <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                        <span class="metro_btn">Подробнее</span>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <strong>Цены и ассортимент</strong>
                        <p>Российская специфика, как следует из вышесказанного, все еще интересна для многих.
                            <br>Баинг и селлинг концентрирует потребительский формирование имиджа.</p>
                        <span class="metro_btn">Назад</span>
                    </div>
                </div>
            </div>
            <div class="metro col_4">
                <div class="front">
                    <div class="box1">
                        <div class="ico">
                            <img src="{{ asset_uri('images/volume.png') }}" alt="">
                        </div>
                        <strong>Любой<br>объем</strong>
                        <span class="line"></span>
                        <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                        <span class="metro_btn">Подробнее</span>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <strong>Цены и ассортимент</strong>
                        <p>Российская специфика, как следует из вышесказанного, все еще интересна для многих.
                            <br>Баинг и селлинг концентрирует потребительский формирование имиджа.</p>
                        <span class="metro_btn">Назад</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="who_buy_from_us">
    <span class="anchor" id="four"></span>
    <div class="wrap">
        <h3>кто покупает у нас</h3>
        <div class="grid">
            <div class="item col_3">
                <div class="img">
                    <img src="{{ asset_uri('images/pic_5.jpg') }}" alt="">
                </div>
                <div class="info">
                    <div class="ico">
                        <img src="{{ asset_uri('images/ico_101.png') }}" alt="">
                    </div>
                    <strong>HoReCa</strong>
                    <span class="line"></span>
                    <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                </div>
            </div>
            <div class="item col_3">
                <div class="img">
                    <img src="{{ asset_uri('images/pic_6.jpg') }}" alt="">
                </div>
                <div class="info">
                    <div class="ico">
                        <img src="{{ asset_uri('images/ico_102.png') }}" alt="">
                    </div>
                    <strong>Предприниматели</strong>
                    <span class="line"></span>
                    <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                </div>
            </div>
            <div class="item col_3">
                <div class="img">
                    <img src="{{ asset_uri('images/pic_7.jpg') }}" alt="">
                </div>
                <div class="info">
                    <div class="ico">
                        <img src="{{ asset_uri('images/ico_103.png') }}" alt="">
                    </div>
                    <strong>Покупатели</strong>
                    <span class="line"></span>
                    <p>Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                </div>
            </div>
        </div>
    </div>
</section>
