{{ APPLICATION.SetPageProperty(constant('App\\PageProperty::LAYOUT'), 'bare.twig') }}
{% embed partial('embedded_modal_section.twig') %}
    {% block modal %}
        <div class="embedded-modal-form">
            <form name="bform" action="{{ result.AUTH_FORM }}" method="post" novalidate>
                <input type="hidden" name="USER_CHECKWORD" value="{{ result.USER_CHECKWORD }}">
                {% if result.BACKURL is not empty %}
                    <input type="hidden" name="backurl" value="{{ result.BACKURL }}" />
                {% endif %}
                <input type="hidden" name="AUTH_FORM" value="Y" />
                <input type="hidden" name="TYPE" value="CHANGE_PWD" />
                <h4 class="tab_title">Смена пароля</h4>
                <label class="label">
                    <input name="USER_LOGIN"
                           value="{{ result.LAST_LOGIN }}"
                           type="email"
                           placeholder="E-mail"
                           disabled="disabled">
                </label>
                <label class="label">
                    <input name="USER_PASSWORD"
                           value="{{ result.USER_PASSWORD }}"
                           type="password"
                           placeholder="Новый пароль">
                </label>
                <label class="label">
                    <input name="USER_CONFIRM_PASSWORD"
                           value="{{ result.USER_CONFIRM_PASSWORD }}"
                           type="password"
                           placeholder="Подтверждение пароля">
                </label>
                {% set bx_msg = params['~AUTH_RESULT'] %}
                {% set is_success = bx_msg.TYPE == 'OK' %}
                {% if bx_msg %}
                    <div class="form-message {{ bx_msg.TYPE == 'ERROR' ? 'error' : 'success' }}" style="display: block">
                        {{ bx_msg.MESSAGE }}
                    </div>
                {% endif %}
                <div class="wrap_btn">
                    <div>
                        {% if is_success %}
                            <a href="{{ result.PROFILE_PATH }}" class="btn--blue">Личный кабинет</a>
                        {% else %}
                            <button type="submit" name="change_pwd" class="btn--blue">Изменить пароль</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
{% endembed %}
