<!-- HEADER START -->
<header class="header">
    <div class="top">
        <div class="wrap">
            <div class="left">
                <div class="hamburger"></div>
                <a class="logo" href="{{ path('/') }}"/></a>
            </div>
            <div class="right">
                {# TODO user/profile #}
                {% if is_logged_in %}
                    {# TODO wrap display name in a:href=profile_path #}
                    <div class="user-display-name">Вы вошли как: {{ user_display_name }}</div>
                    {#<a class="btn lk" href="{{ profile_path }}">Личный кабинет</a>#}
                    <a class="btn--blue" href="{{ logout_link }}">Выход</a>
                {% else %}
                    <div data-modal="signup-modal" class="btn--blue reg">Зарегистрироваться</div>
                    {#<div data-modal="login-modal" class="btn lk">Личный кабинет</div>#}
                {% endif %}
            </div>
        </div>
    </div>
</header>
{{ main_menu }}
<!-- CONTENT START -->
<main class="content">
    {{ slider }}
    {#TODO stub modal#}
    {#{{ login_modal }}#}
    {% block page %}
        <section class="content_section">
            <div class="wrap">
                <div class="inner editable-area editable-page">
                    {{ page }}
                </div>
            </div>
        </section>
    {% endblock %}
</main>
<!-- FOOTER START -->
<footer class="footer">
    <div class="wrap">
        <div class="grid">
            <div class="col col_3">
                {{ footer_left }}
            </div>
            <div class="col right_side">
                <div class="top">
                    <div class="left">
                        <a class="logo" href="{{ path('/') }}"/></a>
                        <p>Создание и продвижение сайта <a href="https://i-market.ru/" target="_blank">I-Market</a></p>
                    </div>
                    <div class="right">
                        <div data-modal="contact-modal" class="btn">Написать нам</div>
                        <div class="social">
                            {{ social_links }}
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    {#TODO year#}
                    <p class="copy">{{ footer_copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% include(partial('modals.twig')) %}
<!-- ПОДКЛЮЧЕНИЕ СКРИПТОВ START -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('js/vendor.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bundle.js') }}"></script>
<script type="text/javascript">
    {# wat. solves ie11 main slider (slick) issue? #}
    $(function() {
        // слайдеры
        $('.slider').slick({
            arrows: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
        });
        $('.carusel').slick({
            arrows: false,
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 580,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
