<div id="global-loader">Загрузка...</div>
<!-- HEADER START -->
<header class="header">
    <div class="top">
        <div class="wrap">
            <div class="left">
                <div class="hamburger"></div>
                <a class="logo" href="{{ path('/') }}"/></a>
            </div>
            <div class="right">
                {% if is_logged_in %}
                    <div class="user-display-name">Вы вошли как: <a href="{{ profile_path }}">{{ user_display_name }}</a></div>
                    <a class="btn lk" href="{{ profile_path }}">Личный кабинет</a>
                    {# TODO logout shouldn't stand out #}
                    <a class="btn--blue" href="{{ logout_link }}">Выход</a>
                {% else %}
                    {# show .short on smaller devices #}
                    <a href="javascript:void(0)" data-modal="signup-modal" class="btn--blue reg long">Зарегистрироваться</a>
                    <a href="javascript:void(0)" data-modal="signup-modal" class="btn--blue reg short">Регистрация</a>
                    <a href="{{ profile_path }}" data-modal="login-modal" class="btn lk">Личный кабинет</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{{ main_menu }}
<!-- CONTENT START -->
<main class="content">
    {{ slider }}
    {% block page %}
        {% embed partial('editable_page_section.twig') %}
            {% block content %}
                {{ page }}
            {% endblock %}
        {% endembed %}
    {% endblock %}
</main>
<!-- FOOTER START -->
<footer class="footer">
    <div class="wrap">
        <div class="grid">
            <div class="col col_3">
                {{ footer_left }}
            </div>
            <div class="col right_side">
                <div class="top">
                    <div class="left">
                        <a class="logo" href="{{ path('/') }}"/></a>
                        <p>Создание и продвижение сайта <a href="https://i-market.ru/" target="_blank">I-Market</a></p>
                    </div>
                    <div class="right">
                        <div data-modal="contact-modal" class="btn">Написать нам</div>
                        <div class="social">
                            {% include partial('sharing_buttons.twig') with sharing_buttons %}
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p class="copy">{{ footer_copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block modals %}
    {% include(partial('modals.twig')) %}
{% endblock %}
<!-- ПОДКЛЮЧЕНИЕ СКРИПТОВ START -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
{% if is_sentry_enabled %}
    <script type="text/javascript" src="https://cdn.ravenjs.com/3.12.1/raven.min.js"></script>
    <script type="text/javascript">
        {# TODO move sentry dsn to config #}
        Raven.config('https://6c589ea6735245e3b3701967490bd263@sentry.io/148291', {
            environment: '{{ app_env }}'
        }).install();
        {% set user_id = USER.GetID() %}
        {% if user_id is not empty %}
            Raven.setUserContext({
                id: '{{ user_id }}',
                username: '{{ USER.GetLogin() }}',
                email: '{{ USER.GetEmail() }}'
            });
        {% endif %}
    </script>
{% endif %}
<script type="text/javascript" src="{{ asset('js/vendor.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bundle.js') }}"></script>
<script type="text/javascript">
    {# wat. solves ie11 main slider (slick) issue? #}
    $(function() {
        // слайдеры
        $('.slider').slick({
            arrows: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
        });
        $('.carusel').slick({
            arrows: true,
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 1023,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 580,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
