{% set contacts_link = '#contacts' %}

<!--точки с прокруткой-->
<div id="navbar">
    <ul class="nav">
        <li class="active">
            {# body tag #}
            <a href="#one"></a>
        </li>
        {% block pagination_items %}{% endblock %}
        <li>
            <a href="{{ contacts_link }}"></a>
        </li>
    </ul>
</div>
<!--гамбургер-->
<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<!--мобильное меню-->
<div class="hidden_menu">
    <div class="top">
        <a href="tel:+74952236123">+7 (495) 223-61-23</a>
    </div>
    <ul>
        <li><a href="{{ path('/') }}"><span>О комплексе</span></a></li>
        <li><a href="{{ path('arendatoram') }}"><span>Арендаторам</span></a></li>
        <li><a href="{{ path('pokupatelyam') }}"><span>Покупателям</span></a></li>
        <li><a href="{{ contacts_link }}"><span>Контакты</span></a></li>
        <li><a href="javascript:void(0)"><span data-modal="re_call">Обратный звонок</span></a></li>
        {% block page_menu_items %}
            <li><a href="javascript:void(0)"><span data-modal="{{ form_specs.work_with_us.name }}">{{ form_specs.work_with_us.title }}</span></a></li>
        {% endblock %}
        <li><a href="javascript:void(0)"><span data-modal="write_letter">Написать письмо</span></a></li>
    </ul>
    <div class="bottom">
        <div class="social_icons">
            {% include partial('social_icons.twig') %}
        </div>
    </div>
</div>
<!--нижнее меню-->
<div class="bottom_line">
    <div class="wrap">
        <span class="write_letter" data-modal="write_letter">написать письмо</span>
        <span class="btn" data-modal="re_call">заказать звонок</span>
        {% block footer_right_button %}
            <span class="form_order" data-modal="{{ form_specs.work_with_us.name }}">{{ form_specs.work_with_us.title }}</span>
        {% endblock %}
    </div>
</div>
<!--HEADER-->
<header class="header">
    <div class="wrap">
        <div class="opacity_bars"></div>
        <a class="logo_mobile" href="{{ path('/') }}">
            <img src="{{ asset('images/logo.png') }}" alt="">
        </a>
        <div class="left">
            <div class="social_icons">
                {% include partial('social_icons.twig') %}
            </div>
            <a href="{{ contacts_link }}" class="scheme btn">схема проезда</a>
        </div>
        <nav class="main_menu cf">
            <ul>
                {% set item = menu.homepage %}
                <li><a href="{{ item.uri }}" class="{{ item.is_active ? 'active' }}">О комплексе</a></li>
                {% set item = menu.rent %}
                <li><a href="{{ item.uri }}" class="{{ item.is_active ? 'active' }}">Арендаторам</a></li>
                <li class="logo">
                    <a href="{{ path('/') }}"></a>
                </li>
                {% set item = menu.for_customers %}
                <li><a href="{{ item.uri }}" class="{{ item.is_active ? 'active' }}">Покупателям</a></li>
                <li><a href="{{ contacts_link }}">Контакты</a></li>
            </ul>
        </nav>
        <div class="right">
            <p class="tel"><a href="tel:+74952236123">+7 (495) 223-61-23</a></p>
            <div class="working-hours">с 4:00 до 20:00 без выходных</div>
            <div class="lang_block">
                <div class="flag"><img src="{{ asset('images/lang.png') }}" alt=""></div>
                <div class="blcok_choose_lang">
                    <span class="lang">RUS</span>
                    <div class="dd_choose_lang">
                        {# TODO lang pages #}
                        <a href="#"><img src="{{ asset('images/az.png') }}" alt="">Az</a>
                        <a href="#"><img src="{{ asset('images/eng.png') }}" alt="">Eng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- CONTENT -->
<main class="content">
    {{ page }}
    <section class="map" id="contacts">
        <div class="buble">
            <strong>наши контакты</strong>
            <div class="item tel">
                <p><a href="tel:+74952980760">+7 (495) 298-07-60 <span class="de-emphasize text-nowrap">(24 часа)</span></a></p>
                <p><a href="tel:+79663168998">+7 (966) 316-89-98 <span class="de-emphasize text-nowrap">(Аренда)</span></a></p>
                <p><a href="tel:+74953576144">+7 (495) 357-61-44</a></p>
                <p><a href="tel:+74953676123">+7 (495) 367-61-23</a></p>
                <p><a href="tel:+74952236123">+7 (495) 223-61-23</a></p>
            </div>
            <div class="item clock">
                <p><span style="font-weight: 600;">с 04:00 до 20:00</span> без выходных</p>
            </div>
            <div class="item mail">
                <p>Офис: <a href="mailto:office@mspdom.ru">office@mspdom.ru</a></p>
                <p>Торговый дом: <a href="mailto:trade@mspdom.ru">trade@mspdom.ru</a></p>
                <p>Аренда: <a href="mailto:arenda@mspdom.ru">arenda@mspdom.ru</a></p>
            </div>
            <div class="item locate">
                <p>г. Домодедово, мкрн. Северный, ул. Логистическая, участок 9</p>
                {% set coords = contacts_latlng.lat ~ ', ' ~ contacts_latlng.lng %}
                <p class="hidden-md-down">GPS: <span class="strong">{{ coords }}</span></p>
            </div>
            <div class="bottom hidden-lg-up">
                <a href="{{ contacts_geo_uri }}"><img src="{{ asset('images/navigator.png') }}" alt=""></a>
            </div>
        </div>
        <div id="contacts-map" class="map-container"></div>
    </section>
</main>
<!-- FOOTER -->
<footer class="footer">
    <p>Создание и продвижение сайта: <a href="https://i-market.ru/" rel="nofollow" target="_blank">I-market</a></p>
</footer>
{% block modals %}
    <script>
        window._formSpecs = {{ form_specs_json }};
    </script>
    <script type="text/template" id="form-template">
        {{ source(partial('modal_form.twig')) }}
    </script>
    {% for spec in form_specs %}
        <div class="modal modal_window" id="{{ spec.name }}">
            {% include partial('modal_form.twig') with spec %}
        </div>
    {% endfor %}
{% endblock %}
<!-- ПОДКЛЮЧЕНИЕ СКРИПТОВ -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://use.fontawesome.com/d5e5cdfb8c.js"></script>
{% for script in scripts %}
    <script src="{{ asset(script) }}"></script>
{% endfor %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&onload=App.ymapsCallback" type="text/javascript"></script>
{% if include_tracking_scripts %}
    {% include partial('tracking_scripts.twig') %}
{% endif %}
