{% extends layout('base.twig') %}

{% block pagination_items %}
    <li>
        <a href="#scheme"></a>
    </li>
    <li>
        <a href="#two"></a>
    </li>
    <li>
        <a href="#three"></a>
    </li>
    <li>
        <a href="#four"></a>
    </li>
{% endblock %}

{% block footer_right_button %}
    <span class="form_order" data-modal="{{ form_specs.rent.name }}">{{ form_specs.rent.title }}</span>
{% endblock %}

{% block page_menu_items %}
    <li><a href="javascript:void(0)"><span data-modal="{{ form_specs.rent.name }}">{{ form_specs.rent.title }}</span></a></li>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% for id, item in scheme %}
        {% set pos = item.image_position %}
        <div class="modal schemeModal" id="{{ 'scheme_modal_' ~ id }}">
            <div class="block">
                <span class="close"></span>
                <div class="wrap_scheme_content cf">
                    <div class="heading">{{ item.heading }}</div>
                    <div class="{{ pos == 'top' ? 'top' : 'left' }}">
                        <img src="{{ asset('images/upload/floor-plans/' ~ item.image) }}" alt="{{ item.heading }}">
                    </div>
                    {# TODO add .count_2 class? #}
                    <div class="{{ pos == 'top' ? 'bottom' : 'right' }}">
                        <p class="text">{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}