<form class="block" method="post" action="{{ action }}" name="{{ name }}" novalidate>
    <span class="close"></span>
    <strong>{{ title }}</strong>
    {% for field in fields %}
        {% set class = field.error ? 'error' : '' %}
        {% set type = field.type or 'text' %}
        {% if type == 'textarea' %}
            <textarea name="{{ field.name }}" placeholder="{{ field.label }}" class="{{ class }}"></textarea>
        {% else %}
            <input name="{{ field.name }}" type="{{ type }}" placeholder="{{ field.label }}" class="{{ class }}">
        {% endif %}
        {% if field.error %}
            <div class="error-message">{{ field.error.message }}</div>
        {% endif %}
    {% endfor %}
    <div class="bottom">
        <button type="submit" class="btn">отправить</button>
    </div>
</form>