<section class="wrap_slider">
    <div class="wrap_arrows">
        <span class="arrows prev"></span>
        <span class="arrows next"></span>
    </div>
    <div class="slider">
        <div class="slide" style="background: url('{{ asset('images/pic_1.jpg') }}')no-repeat center center">
            <div class="block">
                <h1>Арендные каникулы</h1>
                <p class="next_h1">Снижение ставки</p>
                <h2>Скидка до <span class="orange">20 руб</span> кв.м. в сутки</h2>
                <p class="next_h2">На складские помещения и офисы</p>
            </div>
        </div>
        <div class="slide" style="background: url('{{ asset('images/upload/slide-2.jpg') }}')no-repeat center center">
            <div class="block">
                <h1>Четыре Сезона</h1>
                <p class="next_h1">г.Домодедово</p>
                <h2>Всего <span class="orange">15 км</span> от МКАД</h2>
                <p class="next_h2">4 км от М4 "Дон" | 8 км от М2 "Крым"</p>
            </div>
        </div>
        <div class="slide" style="background: url('{{ asset('images/upload/slide-3.jpg') }}')no-repeat center center">
            <div class="block">
                <h1>Склады</h1>
                <p class="next_h1">фрукты | овощи | ягоды</p>
                <h2>Режим t <span class="orange">+2...+8 °С</span></h2>
                <p class="next_h2">Оптимальные условия аренды</p>
            </div>
        </div>
    </div>
    <div class="dots"></div>
</section>
<section class="section_scheme">
    <span class="achor achor--two" id="scheme"></span>
    <h3>СХЕМА КОМПЛЕКСА</h3>
    <div class="wrap">
        <div class="block_scheme">
            <img src="{{ asset('images/scheme.jpg') }}" alt="">
            <div class="corp corp_1" data-modal="scheme_modal_korpus_2"><span>Корпус 2</span></div>
            <div class="corp corp_2" data-modal="scheme_modal_korpus_3"><span>Корпус 3</span></div>
            <div class="corp corp_3" data-modal="scheme_modal_korpus_4"><span>Корп. 4</span></div>
            <div class="corp corp_4" data-modal="scheme_modal_abk"><span>АБК</span></div>
            <div class="corp corp_5" data-modal="scheme_modal_korpus_11"><span>Корпус 11</span></div>
            <div class="corp corp_6" data-modal="scheme_modal_korpus_13"><span>Корпус 13</span></div>
            <div class="corp corp_7" data-modal="scheme_modal_korpus_12"><span>Корпус 12</span></div>
        </div>
    </div>
</section>
<section class="rental_offers">
    <span class="achor achor--two" id="two"></span>
    <div class="wrap">
        <div class="top">
            <p class="big_text">70 000 м²</p>
            <div class="block">
                <h3>предложения по аренде</h3>
                <p>ОРЦ "Четыре сезона" предлагает в аренду складские корпуса с постоянным температурным режимом и удобные помещения под офисы</p>
            </div>
        </div>
        <div class="grid">
            <div class="item col_3">
                <div class="img">
                    <img src="{{ asset('images/pic_2.jpg') }}" alt="">
                    <p class="text">Павильоны 25 500 м²</p>
                </div>
                <div class="info">
                    <p>
                        <span>Арендуемая площадь</span>
                        <span>— от 150 до 600 м²</span>
                    </p>
                    <p>
                        <span>Температурный режим</span>
                        <span>— от +4 до +8 °С</span>
                    </p>
                    <p>
                        <span>Высота потолков</span>
                        <span>— 10 м</span>
                    </p>
                    <p>
                        <span>Нагрузка на пол</span>
                        <span>— 6 т/м²</span>
                    </p>
                    <p>
                        <span>Строение</span>
                        <span>— №2, №3, №4</span>
                    </p>
                    <p>
                        <span>Продукция</span>
                        <span>— фрукты, овощи, ягоды, зелень, грибы, бахчевые, орехи, сухофрукты</span>
                    </p>
                </div>
                <div class="bottom">
                    <span class="btn btn--fiolet" data-modal="rental_offers">Показать схему</span>
                </div>
            </div>
            <div class="item col_3">
                <div class="img">
                    <img src="{{ asset('images/upload/sklad-2.png') }}" alt="">
                    <p class="text">Павильоны 14 700 м²</p>
                </div>
                <div class="info">
                    <p>
                        <span>Арендуемая площадь</span>
                        <span>— от 256 до 512 м²</span>
                    </p>
                    <p>
                        <span>Температурный режим</span>
                        <span>— от -18 до +2 °С</span>
                    </p>
                    <p>
                        <span>Высота потолков</span>
                        <span>— 6 м</span>
                    </p>
                    <p>
                        <span>Нагрузка на пол</span>
                        <span>— 6 т/м²</span>
                    </p>
                    <p>
                        <span>Строение</span>
                        <span>— №11, №12, №13</span>
                    </p>
                    <p>
                        <span>Продукция</span>
                        <span>— фрукты, овощи, мясо, птица, рыба и морепродукты, молочная продукция, бакалея</span>
                    </p>
                </div>
                <div class="bottom">
                    <span class="btn btn--green" data-modal="rental_offers_2">Показать схему</span>
                </div>
            </div>
            <div class="item col_3">
                <div class="img">
                    <img src="{{ asset('images/upload/sklad-3.png') }}" alt="">
                    <p class="text">Офисы, торговые ряды, кафе</p>
                </div>
                <div class="info">
                    <p>
                        <span>Общая площадь</span>
                        <span>— 2 700 м²</span>
                    </p>
                    <p>
                        <span>Арендуемая площадь</span>
                        <span>— от 22 м²</span>
                    </p>
                    <p>
                        <span>Этажность</span>
                        <span>— 3/3</span>
                    </p>
                    <p>
                        <span>Планировка</span>
                        <span>— коридорно-кабинетная</span>
                    </p>
                    <p>
                        <span>Кондиционирование</span>
                        <span>— центральное</span>
                    </p>
                    <p>
                        <span>Отопление</span>
                        <span>— центральное</span>
                    </p>
                    <p>
                        <span>Водоснабжение</span>
                        <span>— горячая и холодная вода</span>
                    </p>
                </div>
                <div class="bottom">
                    <span class="btn btn--red" data-modal="rental_offers_3">Показать схему</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service">
    <span class="achor achor--three" id="three"></span>
    <div class="wrap">
        <h3>Услуги</h3>
        <strong>ОРЦ "Четыре сезона" предлагает широкий спектр услуг с использованием<br> высокотехнологичного оборудования</strong>
        <div class="grid">
            <div class="item col_6">
                <div class="ico">
                    <img src="{{ asset('images/ico_1.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_11.png') }}" alt="">
                    </div>
                </div>
                <div class="text">Хранение</div>
            </div>
            <div class="item col_6">
                <div class="ico">
                    <img src="{{ asset('images/ico_2.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_22.png') }}" alt="">
                    </div>
                </div>
                <div class="text">Перевалка</div>
            </div>
            <div class="item col_6">
                <div class="ico">
                    <img src="{{ asset('images/ico_3.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_33.png') }}" alt="">
                    </div>
                </div>
                <div class="text">Парк погрузочной техники</div>
            </div>
            <div class="item col_6">
                <div class="ico">
                    <img src="{{ asset('images/ico_4.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_44.png') }}" alt="">
                    </div>
                </div>
                <div class="text">Распределение крупных партий</div>
            </div>
            <div class="item col_6">
                <div class="ico">
                    <img src="{{ asset('images/ico_5.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_55.png') }}" alt="">
                    </div>
                </div>
                <div class="text">Крупнооптовая торговля</div>
            </div>
            <div class="item col_6">
                <div class="ico">
                    <img src="{{ asset('images/ico_6.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_66.png') }}" alt="">
                    </div>
                </div>
                <div class="text">Мелкооптовая торговля</div>
            </div>
        </div>
    </div>
</section>
<section class="advantages">
    <span class="achor achor--four" id="four"></span>
    <div class="wrap">
        <h3>наши преимущества</h3>
        <div class="block">
            <div class="item">
                <div class="ico">
                    <img src="{{ asset('images/ico_7.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_77.png') }}" alt="">
                    </div>
                </div>
                <p class="text">Высокая транспортная доступность</p>
                <p class="info">Находимся в непосредственной близости к трассам федерального значения и маршрутам поставки грузов</p>
                <div class="bottom">
                    <div class="block">
                        <p><span>4</span> км до трассы М2 </p>
                        <p><span>8</span> км до трассы М4 </p>
                        <p><span>15</span> км до МКАД </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ico">
                    <img src="{{ asset('images/ico_8.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_88.png') }}" alt="">
                    </div>
                </div>
                <p class="text">Современные технологии</p>
                <p class="info">Используем новейшее оборудование для обеспечения работы всех складских систем</p>
                <div class="bottom">
                    <div class="block">
                        <p>передовые логистические решения</p>
                        <p>высокая степень автоматизации</p>
                        <p>контроль температурного режима</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ico">
                    <img src="{{ asset('images/ico_9.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_99.png') }}" alt="">
                    </div>
                </div>
                <p class="text">Автономная инфраструктура</p>
                <p class="info">На территории комплекса созданы все необходимые условия для сотрудников и клиентов</p>
                <div class="bottom">
                    <div class="block">
                        <p>Единый Миграционный Центр</p>
                        <p>кафе и столовые</p>
                        <p>магазины и банки</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ico">
                    <img src="{{ asset('images/ico_10.png') }}" alt="">
                    <div class="hidden">
                        <img src="{{ asset('images/ico_100.png') }}" alt="">
                    </div>
                </div>
                <p class="text">Безопасность комплекса</p>
                <p class="info">На территории центра круглосуточно гарантированы безопасность и охрана порядка</p>
                <div class="bottom">
                    <div class="block">
                        <p>пропускной режим</p>
                        <p>непрерывное видеонаблюдение</p>
                        <p>группа быстрого реагирования</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal modal_rent" id="rental_offers">
    <div class="block">
        <span class="close"></span>
        <div class="slider_rent">
            {% for item in rental_offers %}
                <div class="slide">
                    <strong>{{ item.caption }}</strong>
                    <div class="img">
                        <div class="img-inner" style="background-image: url('{{ asset('images/upload/floor-plans/' ~ item.path) }}')"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bottom">
            <div class="wrap_arrows">
                <span class="arrows prev"></span>
                <span class="arrows next"></span>
            </div>
            <div class="numbers">
                <span class="current">1</span> /
                <span class="all"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal modal_rent" id="rental_offers_2">
    <div class="block">
        <span class="close"></span>
        <div class="slider_rent">
            {% for item in rental_offers_2 %}
                <div class="slide">
                    <strong>{{ item.caption }}</strong>
                    <div class="img">
                        <div class="img-inner" style="background-image: url('{{ asset('images/upload/floor-plans/' ~ item.path) }}')"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bottom">
            <div class="wrap_arrows">
                <span class="arrows prev"></span>
                <span class="arrows next"></span>
            </div>
            <div class="numbers">
                <span class="current">1</span> /
                <span class="all"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal modal_rent" id="rental_offers_3">
    <div class="block">
        <span class="close"></span>
        <div class="slider_rent">
            {% for item in rental_offers_3 %}
                <div class="slide">
                    <strong>{{ item.caption }}</strong>
                    <div class="img">
                        <div class="img-inner" style="background-image: url('{{ asset('images/upload/floor-plans/' ~ item.path) }}')"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bottom">
            <div class="wrap_arrows">
                <span class="arrows prev"></span>
                <span class="arrows next"></span>
            </div>
            <div class="numbers">
                <span class="current">1</span> /
                <span class="all"></span>
            </div>
        </div>
    </div>
</div>
